.header{
    background-color: rebeccapurple;
    margin: 10px;
}
.nav-link{
    color: white;
    margin-right: 20px;
    cursor: pointer;
}
.nav-link:hover{
    background-color: rgb(142, 88, 196);
}
.title{
    align-items: center;
    justify-content: center;
}
a{
    font-size: medium;
}