table{
    width: 100%;
}
.table-row{
    padding: 10px;
}
th{
    font-size: medium;
    color: black;
}
.filter{
    border: black solid 1px;
}
li{
    cursor: pointer;
}
.reset{
    background-color: rebeccapurple;
    color: white;
}
.formLink{
    cursor: pointer;
    font-size: 30px;
    color: #444;
}
.formLink:hover{
    background-color: #ddd;
}