<form>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Employee ID</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Job Title</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Employee Code</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Region</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Phone number</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Business Unit</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
</form>